.drawer
{
  overflow: visible;
  width: 25% !important;
  height: 260px !important;
}

.emoji-dialog
{
  z-index: 1 !important;
  position: fixed !important;
  top: 5% !important;
  left: 0px !important;
  margin-left: 25% !important;
  height: 90% !important;
}

.drawer__header
{
  position: absolute !important;
  width: 15% !important;
  left: 45% !important;
  margin-left: 1em;
}

.search
{
  position: absolute !important;
  width: 20% !important;
  left: 25% !important;
}

/* LTL, FTL */
.column:nth-child(1) {
  flex: 1 1 0 !important;
}

/* ホーム */
.column:nth-child(2) {
  flex: 1 1 0 !important;
  margin-top: 60px !important;
}

/* 通知 */
.column:nth-child(3) {
  flex: 1 1 0 !important;
  position: fixed !important;
  width: 25% !important;
  top: 250px !important;
  height: 100% ;
  padding-left: 10px !important;
}

/* スタート */
.column:nth-child(3) + div {
  flex: 1 1 0 !important;
}

/* アカウント連携のリンクを隠す */
div.nico-connect-account {
  display : none !important;
}

/* お知らせを隠す */
ul.announcements {
  display : none !important;
}

div.column-icon.collapsable + div {
  overflow : scroll !important;
}
