.emoji-dialog
{
  z-index: 1 !important;
  position: fixed !important;
  top: 5% !important;
  left: 0px !important;
  margin-left: 25% !important;
  height: 90% !important;
}

/* デカニコるボタン表示用のマージン */
.column[aria-labelledby="ローカルタイムライン"] .status__content
{
  margin-right: 40px !important;
}

/* ニコるボタンの巨大化 */
.column[aria-labelledby="ローカルタイムライン"] .status button[title="ニコる"]
{
  position: absolute !important;
  top: 30px !important;
  left: calc(100% - 45px) !important;
  width: 40px !important;
  height: 40px !important;
}

/* ニコる君のアイコンサイズの調整 */
.column[aria-labelledby="ローカルタイムライン"] .status button[title="ニコる"] i
{
  width: 30px !important;
  height: 30px !important;
}


/* ワイド表示のときだけレイアウトを調整する */
@media screen and (min-width: 1025px)
{

.drawer
{
  overflow: visible;
  width: 25% !important;
  height: 370px !important;
}

/* .search */
/* { */
/*   position: absolute !important; */
/*   width: 20% !important; */
/*   left: 25% !important; */
/* } */

/* .drawer__header */
/* { */
/*   position: absolute !important; */
/*   width: 15% !important; */
/*   left: 45% !important; */
/*   margin-left: 1em; */
/* } */


.column
{
  width: 100% !important;
}

/* LTL, FTL */
.column:nth-child(1)
{
  flex: 1 1 0 !important;
}

/* ホーム */
.column:nth-child(2)
{
  flex: 1 1 0 !important;
  /* margin-top: 60px !important; */
}

/* 通知 */
.column:nth-child(3)
{
  flex: 1 1 0 !important;
  position: fixed !important;
  width: 25% !important;
  top: 360px !important;
  height: 100% ;
  padding-left: 10px !important;
}

/* スタート */
.column:nth-child(3) + div
{
  flex: 1 1 0 !important;
}

/* アカウント連携のリンクを隠す */
div.nico-connect-account
{
  display : none !important;
}

/* お知らせを隠す */
ul.announcements
{
  display : none !important;
}

div.column-icon.collapsable + div
{
  overflow : scroll !important;
}

}
